*{padding: 0;margin: 0;box-sizing:border-box}
a{text-decoration: none}
body{
    height: 100vh;
    background: url("https://i.loli.net/2017/09/18/59bfd3fe811be.jpg") center ;
    background-size:cover;
}
header{
    height: 30vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background: rgba(255,255,255,0.3);
    padding: 40px 50px;
    border-radius: 20px;
}
kbd{display: inline-flex;justify-content: center;align-items: center;text-transform: uppercase;width: 80px;height: 60px;border:1px solid #373737;border-radius: 7px;box-shadow:0 0 0 1px #1A1B1C,0 0 0 2px #1F2020,0 3px 0 2px #080808;background: linear-gradient(to bottom, #292929 0%,#111111 100%);color:#C5C5C5;margin: 10px 10px;position: relative;font-size:16px;font-family:Helvetica;}
kbd > button{
    border-radius: 4px;
    position: absolute;
    right:0;
    bottom:0;
    display: none;
}
kbd:hover{
    background: grey;
}
kbd:hover > button{
    display: inline-block;
}
#main > div:nth-child(2){
    margin-left: 35px;
}
#main > div:nth-child(3){
    margin-left: 70px;
}
footer{
}

