*{  padding:0;  margin:0;  }
*{box-sizing:border-box}
*::before{box-sizing:border-box}
*::after{box-sizing:border-box}
body{display: flex;flex-direction:column;
    height: 100vh;}
.code-wrapper{
    flex: 1;
    height: 50%;
    }
.code-wrapper > pre{
    padding: 10px;
    height: 100%;
    overflow: auto;}
.preview-wrapper{
    flex: 1;
    height: 50%;}
.actions{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right:0;
}
.actions>button{
    text-align: center;
    width: 48px;
    height: 32px;
    border-radius: 8px;
    margin: 5px 5px;
}
.actions>button.active{
    box-shadow:3px 3px 10px 3px rgba(0,0,0,0.5)
}
.actions>button:focus{
    outline: none;
}