*{  padding:0;  margin:0;  }
*{box-sizing:border-box}
*::before{box-sizing:border-box}
*::after{box-sizing:border-box}
body{display: flex;justify-content: space-between;
    height: 100vh;}
.code-wrapper{
    width: 48vw;
    height: 100%;
    border:1px solid;
    }
.code-wrapper > pre{
    height: 100%;
    overflow: auto;}
.preview-wrapper{
    height: 100%;
    width: 48vw;
    border:1px solid;}
